/* latin-ext */
@font-face {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/albertsans/v1/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHq5PPpYf3fxA.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/albertsans/v1/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHq5PPq4f3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-primary: #3086C8;
    --color-primary-variant: #16639e;
    --color-on-primary: #fff;
    --color-secondary: #c228ff;
    --color-on-secondary: #3F3F3F;
    --color-on-secondary-variant: #5B5B5B;
    --color-surface: #F6F6F6;
    --color-surface-dark: #e2e2e2;
    --color-surface-variant: #fff;
    --color-error: #ff4d4d;

    --small-font: 12px;
    --medium-font: 16px;
    --medium2-font: 20px;
    --big-font: 24px;
    --big2-font: 28px;

    --radius-medium: 6px;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    margin: 1em 0;
}

h2 {
    font-size: var(--big-font);
}

h3 {
    font-size: var(--medium2-font);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans';
}

p {
    line-height: 1.6;
}

body {
    margin: 0;
    background-color: var(--color-surface);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}




@media only screen and (max-width: 800px) {
    .container {
        padding: 0;
    }

    .loader {
        scale: 0.6;
    }
}





/* ----------------- Loader ---------------------- */

/* loader  1 */

.loader-holder {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--color-surface);
}

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
}


@keyframes jump7456 {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow324 {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}


/* loader 2 */

.loader2 {
    margin: auto;
    border: 2px solid var(--color-on-primary);
    border-left-color: transparent;
    width: 24px;
    height: 24px;
    animation: spin89345 1s linear infinite;
    border-radius: 50%;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* --------------------- table ----------------------- */

.table-holder {
    margin-top: 5rem;
    overflow-x: auto;
}

.table-holder input,
.table-holder textarea {
    border: none;
    border: 1px solid var(--color-surface-dark);
    padding: 0.4em 1em;
    font-size: var(--medium-font);
    background-color: transparent;
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;

}

.table-holder table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    background-color: var(--color-surface-variant);
    border-radius: var(--radius-medium);
}

.table-holder table *{
    white-space: nowrap;
}

.table-holder table .name{
    min-width: 500px;
    white-space: normal;
}

.table-holder thead {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.table-holder th {
    padding: 1em;
    font-weight: 400;
    color: var(--color-primary);
}

.table-holder td {
    padding: 0.8em 1em;
    border-bottom: 1px solid var(--color-surface);
}

.table-holder td button {
    margin: auto;
    display: block;
    border: none;
    background-color: transparent;
}

.table-holder td svg {
    fill: var(--color-primary)
}

.table-holder td .delete svg {
    fill: var(--color-error);
}

.table-holder td .update svg {
    fill: var(--color-secondary);
}

.table-holder td button:hover {
    scale: 1.2;
}


.table-holder tbody tr {
    background-color: var(--color-surface-variant);
    cursor: pointer;
}

.table-holder tbody tr:hover {
    background-color: var(--color-surface);

}